body {
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: papayawhip; */
}

.page-container {
    width: 70%;
    margin: auto;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .1);
    height: 100vh;
}

.page-container h1 {
    margin-bottom: 40px;
    font-weight: bold;
}

.button-close {
    display: flex;
    justify-content: flex-end;
}

.btn-close {
    padding: 20px;
    background-color: rgb(255, 255, 255) !important;
    opacity: 1;
    border-radius: 0;
    font-weight: bold;
    border: 1px solid black;
}

.main {
    padding: 40px;
}
