* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER STYLE START */
.header {
    display: flex;
    height: 100px;
    padding: 0 40px;
    align-items: center;
    border-bottom: 2px solid rgba(128, 128, 128, 0.397);
    width: 100%;
}

.left-header {
    margin-right: auto;
}

.left-header p {
    font-size: 1.25rem;
    margin-top: 15px;
}

.middle-header h1 {
    font-size: 2.5rem;
    text-shadow: 0 0 3px crimson;
    font-weight: bold;
}

.right-header {
    margin-left: auto;
}

.shopping-cart {
    cursor: pointer;
    width: 40px;
    height: 40px;
}
/* HEADER STYLE END */

/* MAIN STYLE START */
.main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    gap: 30px;
    height: 100%;
}

.main-left {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 70px;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}

.main-left-search {
    gap: 20px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group .form-control {
    width: 200px !important;
}

.form-select {
    text-align: center;
}

.input-group .btn {
    width: 50px;
}

.main-left-filter, .main-left-sort {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .1);
    margin-bottom: 100px;
}

.main-left-filter {
    margin-bottom: 50px;
}

.main-left-sort {
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-bottom: 70px;
}

.main-left-filter h3 {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.main-left-sort h3 {
    font-size: 24px;
    margin-right: 10px;
}

.main-left-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 35%;
}

.card-container {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: auto;
    padding: 20px;
    padding-top: 40px;
    max-height: calc(90vh - 65px);
}

.card {
    width: 250px;
    height: 440px !important;
    overflow: hidden;
}

.card .card-img-top {
    height: 220px;
    cursor: pointer;
}

.card-body {
    display: grid;
    grid-template-rows: auto 45px;
}

.card-title, .card-text {
    margin-bottom: 5px !important;
}

.card-btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card-btn .btn {
    width: 50%;
    height: 45px;
}

.card-btn .btn a {
    color: #fff;
    text-decoration: none;
}

div.active {
    display: block;
    background-color: rgba(0, 0, 0, .7);
}

.modal-title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 32px;
}

.modal-body {
    display: flex;
    gap: 20px;
}

.modal-body2 {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.modal-img img {
    width: 200px;
    border-radius: 5px;
}

.modal-info p {
    font-weight: bold;
}

.modal-info p span {
    font-weight: normal;
}

.input-request {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.modal-body2 p {
    font-size: 26px;
}

.modal-footer-request {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    gap: 30px;
}
/* MAIN STYLE END */


/* FOOTER STYLE START */
.footer {
    display: flex;
    justify-content: center;
}
/* FOOTER STYLE END */